body {
        height: 100vh;
        transition: 0.5s;
        background-color: pink;
        padding: 200px 0 0 200px;
        color:black;
    }


    form {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        width: 600px;
        margin: 15px;
        border: 4px solid rgb(224, 94, 170);
    }

    .margin {
        margin: 10px;
    }

    input {
        width: 550px;
    }

    .btn {
        color: #fff;
        padding: 10px 30px;
        background-color: #a34acc;
        border: 2px solid #be0386;
        border-radius: 5px;
    }